.header{
    display:flex;
    justify-content: space-between;
    background-color:#ff5200;
    align-items: center;
    border-radius: 10px;
}
.logo{
    width:200px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
    font-size: 24px;
    
}

.nav-items > ul > li{
   padding: 10px;
   margin: 10px;
   margin-top: 0%;
}
.body{
    padding: 20px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.res-card{
    width:250px;
    height:fit-content;
    border-radius:10px;
    margin: 10px;
    padding: 5px;
    
    

}
.res-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.menu-image{
    width:100%;
    height:200px;
    border-radius: 10px;
}
.search{
    padding: 10px;
}